<div id="main-wrapper">

    <!--Header-->
    <app-header></app-header>

    <!--Sidebar-->
    <app-sidebar></app-sidebar>

    <!--Page wrapper-->
    <div class="page-wrapper">
        <div class="container-fluid">

            <!--Breadcrumbs-->
            <app-breadcrumbs></app-breadcrumbs>

            <!--Mi sistema de rutas-->
            <router-outlet></router-outlet>

            <!-- 
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">


                        </div>
                    </div>
                </div>
            </div> 
            -->

        </div>

        <!--Footer-->
        <footer class="footer">
            © {{ year }} Admin Pro by wrappixel.com
        </footer>

    </div>

</div>